{% extends "base.html" %}
{% block content %}
<h2>Add Person</h2>

<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input name="name" class="form-control" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Birth Year</label>
        <input name="birth_year" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Death Year</label>
        <input name="death_year" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Biography</label>
        <textarea name="bio_text" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Profile Photo</label>
        <input type="file" name="profile_photo" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>
{% endblock %}